body{
background-image: url(background.jpg);
background-size: cover;
padding-top: 50px;
margin-top: 0;

}

h1{ 
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #b1b3a6;
}

.button{
    text-align: center;
    

}
.navbar {
    background-color: aqua;

}